---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&description=Sign+up+charge+for+jim%40tealeaf.com&source=tok_17tqoKFjLkRnZ7kWDkN9uorO
    headers:
      Authorization:
      - Bearer sk_test_7JTMJwS4BCTpTlpuPUvy8w9F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_17tqoLFjLkRnZ7kWL2ns50cG",
          "object": "charge",
          "amount": 999,
          "amount_refunded": 0,
          "application_fee": null,
          "balance_transaction": "txn_17tqoLFjLkRnZ7kW1fEPpd38",
          "captured": true,
          "created": 1459134781,
          "currency": "usd",
          "customer": null,
          "description": "Sign up charge for jim@tealeaf.com",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {},
          "order": null,
          "paid": true,
          "receipt_email": null,
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_17tqoLFjLkRnZ7kWL2ns50cG/refunds"
          },
          "shipping": null,
          "source": {
            "id": "card_17tqoKFjLkRnZ7kW9RPQbTC0",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2018,
            "fingerprint": "rokgTLHhwhNkObmI",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": null,
          "status": "succeeded"
        }
  recorded_at: Mon, 28 Mar 2016 03:13:01 GMT
recorded_with: VCR 3.0.1
