%article.video_category
  %header
    - @categories.each do |category|
      - category.videos.each do |video|
        %h3= link_to("#{video.category.name}", category_path(video.category))
        .videos.row
          .video.span2
            = link_to video do
              %img(src="#{video.small_cover_url}")