---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[cvc]=314&card[exp_month]=3&card[exp_year]=2017&card[number]=4000000000000002
    headers:
      Authorization:
      - Bearer sk_test_7JTMJwS4BCTpTlpuPUvy8w9F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_17tCbEFjLkRnZ7kWT1iTtCkL",
          "object": "token",
          "card": {
            "id": "card_17tCbEFjLkRnZ7kWXYiY1XPz",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 3,
            "exp_year": 2017,
            "fingerprint": "kNplshSbFowmCYDn",
            "funding": "credit",
            "last4": "0002",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "59.148.100.76",
          "created": 1458980208,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Sat, 26 Mar 2016 08:16:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=300&currency=usd&source=tok_17tCbEFjLkRnZ7kWT1iTtCkL
    headers:
      Authorization:
      - Bearer sk_test_7JTMJwS4BCTpTlpuPUvy8w9F
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-03-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_17tCbFFjLkRnZ7kWnhpwlXkW"
          }
        }
  recorded_at: Sat, 26 Mar 2016 08:16:49 GMT
recorded_with: VCR 3.0.1
